<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="littleworldDB" connectionString="Data Source=192.168.168.100;Initial Catalog=RP_littleworld;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
     
    </system.web>

</configuration>
